{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block extra_header %}
  {% if session.logged_in %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <!--<p>Created {{ entry.timestamp.strftime('%Y-%m-%d at %H:%M:%S') }}</p>-->
  <p>Created at {{ momentjs(entry.timestamp).fromNowIfLessDay() }}</p>
  {{ entry.html_content }}
{% endblock %}

